body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.name{
    color: coral;
}
h1{
    font-size: xx-large;
}
.pic{
    width: 50%;
    pic
}
body{background-image: url(top-banner.png);
    background-repeat:no-repeat

}
body{
    margin:0px
}
section{
    display: flex;


}
.bac{
    width: 50%;
    padding: 5%;
    
}
.bac img{
    width: 80%;
}
h5{
    font: size 20px;
}